
<div class="container">
    <main role="main" class="pb-3">

        <div class="row">

            <!--Kategoriler ComponentView ile geliyor-->
            <div class="col-3">
                @await Component.InvokeAsync("Categories")

            </div>
            <div class="col-9">
               <div class="row">
                   <h2 class="text-center">
                       Run he or sister  
                   </h2>
                    <hr />
                    <img src="http://placehold.it/500x200" alt="Hakkımızda" class="d-block w-100 mb-4" />
                   
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                    <h4> Tincidunt integer</h4>
                    <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
                    <p>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.</p>
                    <p>Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.</p>
                    <p>Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.</p>
                    <p>Vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo.</p>
               </div>
               

            </div>
        </div>
    </main>
</div>


@*https://codeshare.io/N3rww1*@