
@{
    ViewBag.Title = "Kullanıcı Aktifleştirme Başarılı";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="bg-success text-white p-3 mb-2 rounded-top">
                <h3 class="text-center">Yönlendiriliyorsunuz...</h3>
            </div>
            <div>
                <h3 class="text-center"> Hesabınız Aktifleştirildi. </h3>
                <p>
                    Hesabınız aktifleştirildi. Not paylaşabilir, yorum yapabilir, notları beğenebilirsiniz.
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    setTimeout(function () {
        window.location = "/Home/Index";
    }, 5000);
</script>
